@model List<Dominio.Model.Categoria>
@{
    ViewData["Title"] = "Categorias";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Categorias
                </div>
            </div>
            <div class="card-body">
                <button onclick="$('#modalAdicionar').modal();" class="btn btn-primary">Adicionar Categoria</button>

                @if (Model != null)
                {
                    if (Model.Count > 0)
                    {
                        <table class="table table-striped table-hover mt-5">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Descricao</td>
                                        <td class="text-right">
                                            <button class="btn" onclick="editar(@item.Id)">Editar</button> |
                                            <button class="btn" onclick="excluir(@item.Id)">Excluir</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>



@Html.Partial("_modalAdicionarCategoria")
@Html.Partial("_modalEditarCategoria")


<script src="~/js/Categoria.js"></script>

